
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.bad_rating {
	stroke: red;
	stroke-width:r/6;
	fill-opacity:0;
}

.good_rating {
	stroke: blue;
	stroke-width:r/6;
	fill-opacity:0;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.pagebreak { page-break-before: always; }

.legend {
	font-family: sans-serif;
	font-size: 15px;
}

.label {
	font-family: sans-serif;
	font-size: 15px;
	text-anchor: middle;
}
